In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sb

##### Data Preparation
* Dataset are spread across 5 csv files

In [7]:
df_90to99 = pd.read_csv('../DataSets/SingaporeResaleFlatData/resale-flat-prices-based-on-approval-date-1990-1999.csv')
df_00to12 = pd.read_csv('../DataSets/SingaporeResaleFlatData/resale-flat-prices-based-on-approval-date-2000-feb-2012.csv')
df_12to14 = pd.read_csv('../DataSets/SingaporeResaleFlatData/resale-flat-prices-based-on-registration-date-from-mar-2012-to-dec-2014.csv')
df_1516 = pd.read_csv('../DataSets/SingaporeResaleFlatData/resale-flat-prices-based-on-registration-date-from-jan-2015-to-dec-2016.csv')
df_17 = pd.read_csv('../DataSets/SingaporeResaleFlatData/resale-flat-prices-based-on-registration-date-from-jan-2017-onwards.csv')

In [9]:
df = pd.concat([df_90to99,df_00to12,df_12to14,df_1516,df_17], axis = 0)

In [12]:
df.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease
0,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,9000.0,NaN
1,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,IMPROVED,1977,6000.0,NaN
2,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,8000.0,NaN
3,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,IMPROVED,1977,6000.0,NaN
4,1990-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200.0,NaN

In [13]:
df.shape

(876607, 11)

In [16]:
df.dtypes

month                   object
town                    object
flat_type               object
block                   object
street_name             object
storey_range            object
floor_area_sqm         float64
flat_model              object
lease_commence_date      int64
resale_price           float64
remaining_lease         object
dtype: object

In [18]:
df['month'] = pd.to_datetime(df['month'])

In [20]:
df.isnull().sum()

month                       0
town                        0
flat_type                   0
block                       0
street_name                 0
storey_range                0
floor_area_sqm              0
flat_model                  0
lease_commence_date         0
resale_price                0
remaining_lease        709050
dtype: int64

##### HDB Flats in Singapore have a lease of 99 years
Therefore, remaining_lease = 99 - (year - lease_commence_date)

In [28]:
df.rename(columns = {'month':'date'}, inplace = True)

In [34]:
df['year'] = [i.year for i in df['date']]
df['month'] = [i.month for i in df['date']]

In [38]:
df.drop('date', axis = 1, inplace = True)
df.reset_index(inplace = True, drop = True)

In [39]:
df.head()

,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease,year,month
0,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,9000.0,NaN,1990,1
1,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,IMPROVED,1977,6000.0,NaN,1990,1
2,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,8000.0,NaN,1990,1
3,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,IMPROVED,1977,6000.0,NaN,1990,1
4,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200.0,NaN,1990,1

In [40]:
df[df['remaining_lease'].notnull()]

,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease,year,month
0,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,07 TO 09,60.0,Improved,1986,255000.0,70,2015,1
1,ANG MO KIO,3 ROOM,541,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,1981,275000.0,65,2015,1
2,ANG MO KIO,3 ROOM,163,ANG MO KIO AVE 4,01 TO 03,69.0,New Generation,1980,285000.0,64,2015,1
3,ANG MO KIO,3 ROOM,446,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,1979,290000.0,63,2015,1
4,ANG MO KIO,3 ROOM,557,ANG MO KIO AVE 10,07 TO 09,68.0,New Generation,1980,290000.0,64,2015,1
...,...,...,...,...,...,...,...,...,...,...,...,...
130399,YISHUN,EXECUTIVE,877,YISHUN ST 81,07 TO 09,145.0,Maisonette,1987,810000.0,64 years 07 months,2022,6
130400,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,04 TO 06,164.0,Multi Generation,1987,785000.0,65 years,2022,1
130401,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,04 TO 06,171.0,Multi Generation,1987,842000.0,64 years 11 months,2022,2
130402,YISHUN,MULTI-GENERATION,632,YISHUN ST 61,10 TO 12,164.0,Multi Generation,1987,845000.0,64 years 09 months,2022,2
130403,YISHUN,MULTI-GENERATION,605,YISHUN ST 61,04 TO 06,163.0,Multi Generation,1988,862000.0,64 years 09 months,2022,5

In [49]:
df[df.remaining_lease.notnull()]

,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease,year,month
0,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,07 TO 09,60.0,Improved,1986,255000.0,70,2015,1
1,ANG MO KIO,3 ROOM,541,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,1981,275000.0,65,2015,1
2,ANG MO KIO,3 ROOM,163,ANG MO KIO AVE 4,01 TO 03,69.0,New Generation,1980,285000.0,64,2015,1
3,ANG MO KIO,3 ROOM,446,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,1979,290000.0,63,2015,1
4,ANG MO KIO,3 ROOM,557,ANG MO KIO AVE 10,07 TO 09,68.0,New Generation,1980,290000.0,64,2015,1
...,...,...,...,...,...,...,...,...,...,...,...,...
130399,YISHUN,EXECUTIVE,877,YISHUN ST 81,07 TO 09,145.0,Maisonette,1987,810000.0,64 years 07 months,2022,6
130400,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,04 TO 06,164.0,Multi Generation,1987,785000.0,65 years,2022,1
130401,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,04 TO 06,171.0,Multi Generation,1987,842000.0,64 years 11 months,2022,2
130402,YISHUN,MULTI-GENERATION,632,YISHUN ST 61,10 TO 12,164.0,Multi Generation,1987,845000.0,64 years 09 months,2022,2
130403,YISHUN,MULTI-GENERATION,605,YISHUN ST 61,04 TO 06,163.0,Multi Generation,1988,862000.0,64 years 09 months,2022,5

In [54]:
df.loc[df['remaining_lease'] == '61 years 04 months']

,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease,year,month
0,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,232000.0,61 years 04 months,2017,1
9,ANG MO KIO,3 ROOM,571,ANG MO KIO AVE 3,01 TO 03,67.0,New Generation,1979,285000.0,61 years 04 months,2017,1
16,ANG MO KIO,3 ROOM,570,ANG MO KIO AVE 3,10 TO 12,67.0,New Generation,1979,300000.0,61 years 04 months,2017,1
486,JURONG EAST,3 ROOM,410,PANDAN GDNS,04 TO 06,72.0,Improved,1979,270000.0,61 years 04 months,2017,1
489,JURONG EAST,3 ROOM,411,PANDAN GDNS,10 TO 12,72.0,Improved,1979,295000.0,61 years 04 months,2017,1
...,...,...,...,...,...,...,...,...,...,...,...,...
128379,TOA PAYOH,4 ROOM,13,JOO SENG RD,04 TO 06,103.0,Model A,1984,480000.0,61 years 04 months,2022,2
128500,TOA PAYOH,5 ROOM,12,JOO SENG RD,13 TO 15,132.0,Model A,1984,680000.0,61 years 04 months,2022,2
129496,YISHUN,3 ROOM,709,YISHUN AVE 5,10 TO 12,68.0,New Generation,1984,345000.0,61 years 04 months,2022,1
129589,YISHUN,3 ROOM,142,YISHUN RING RD,01 TO 03,68.0,New Generation,1984,330000.0,61 years 04 months,2022,5
129974,YISHUN,4 ROOM,138,YISHUN RING RD,10 TO 12,93.0,New Generation,1984,460000.0,61 years 04 months,2022,6

##### Column 'remaining_lease' contains some data in format : '61 years 04 months'. Need to standardize to just year

In [ ]:
# Standardizing remaining lease to just year
for date in df['remaining_lease']:
    if not isinstance(date, int) and isinstance(date, float):
        mask = df['remaining_lease'] == date
        df.loc[mask, 'remaining_lease'] = int(date[0:2])

In [ ]:
99 - (df.loc[0]['year'] - df.loc[0]['lease_commence_date'])

In [94]:
for index in df[df['remaining_lease'].isna()].index:
    df.loc[index, 'remaining_lease'] = 99 - (int(df.loc[index]['year'] - df.loc[index]['lease_commence_date']))

86

In [81]:
for i in df[df['remaining_lease'].isnull()]['remaining_lease']

,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease,year,month
0,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,9000.0,NaN,1990,1
1,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,IMPROVED,1977,6000.0,NaN,1990,1
2,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,8000.0,NaN,1990,1
3,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,IMPROVED,1977,6000.0,NaN,1990,1
4,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200.0,NaN,1990,1
...,...,...,...,...,...,...,...,...,...,...,...,...
52198,YISHUN,5 ROOM,816,YISHUN ST 81,10 TO 12,122.0,Improved,1988,580000.0,NaN,2014,12
52199,YISHUN,EXECUTIVE,325,YISHUN CTRL,10 TO 12,146.0,Maisonette,1988,540000.0,NaN,2014,12
52200,YISHUN,EXECUTIVE,618,YISHUN RING RD,07 TO 09,164.0,Apartment,1992,738000.0,NaN,2014,12
52201,YISHUN,EXECUTIVE,277,YISHUN ST 22,07 TO 09,152.0,Maisonette,1985,592000.0,NaN,2014,12
52202,YISHUN,EXECUTIVE,277,YISHUN ST 22,04 TO 06,146.0,Maisonette,1985,545000.0,NaN,2014,12